body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to right, #d2efd4, #9bdbd6);
}

h1 {
    text-align: center;
    color: rgb(50, 20, 185);
}

h2{
    color: rgb(55, 166, 230);
}

form {
    margin-bottom: 20px;
    border: 2px solid rgb(218, 58, 162);
}

form input, form button {
    margin: 5px;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

canvas {
    margin-top: 20px;
}

button{
    color: rgb(194, 27, 212);
    background-color: rgb(14, 242, 124);
    border-radius: 2px;
}
